/* Write your CSS here */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.title {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000000;
}
.delete-btn {
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 10px;
  color: #ff0b37;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin-left: 15px;
  cursor: pointer;
  border: 1px solid #ff0b37;
  outline: none;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 25px;
  }
  .delete-btn {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-left: 30px;
  }
}
